.todolist{
    max-height: 380px;
    overflow-y: auto; 


    &::-webkit-scrollbar-button {
    /*background-image:url('');
    background-repeat:no-repeat;*/
    width:10px;
    height:0px
    }
    
    &::-webkit-scrollbar-track {
    background-color: rgba(204, 204, 204, .3);
    }
    
    &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#cccccc;
    }
    
    &::-webkit-scrollbar-thumb:hover{
    background-color:#cccccc;
    }
    
    &::-webkit-resizer{
    /*background-image:url('');
    background-repeat:no-repeat;*/
    width:4px;
    height:0px
    }
    
    &::-webkit-scrollbar{
    width: 6px;
    }
}