.navigation{
    padding: 0;
    margin: 0;
    background: #f7f7f7;
    grid-area: sidebar;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    

    &__items{
        position: fixed;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    &__item{
        display: flex;
    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #999;
        width: 5em;
        height: 5em;
        
        & svg {
            height: 2em;
            fill: #444
        }

        & span {
            font-size: 14px;
        }

        &_active{
            background: #47a3da;
            color: #fff;

            & svg{
                fill:#fff;
            }
        }

        &:hover{
            background: #47a3da;
            text-decoration: none;
            color: #fff;

            & svg{
                fill:#fff;
            }
        }

    }

}