.container{
    margin-bottom: 1rem;

}
.container ~ .container{
    margin-left:20px;
}
.appCover{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.valueLeft{
    margin-right: 5px;
    max-width: 150px;
}
.valueRight{
    margin-left: 5px;
    max-width: 150px;
}
.knobs, .layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.button{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    overflow: hidden;
}
.button.r, .button.r .layer{
    border-radius: 100px;
}
.checkbox{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
.knobs{
    z-index: 2;
}
.layer{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
    outline: #8B00FF;
}
.button1 .knobs:before{
    content: '';
    position: absolute;
    top: 4px;
    left: 5px;
    width: 27px;
    height: 27px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #03A9F4;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
.button1 .checkbox:checked + .knobs:before{
    content: '';
    left: 42px;
    background-color: #8B00FF;
}
.button1 .checkbox:checked ~ .layer{
    background-color: #EEBEF1;
}
.button1 .knobs, #button-1 .knobs:before, .button1 .layer{
    transition: 0.3s ease all;
}