.container{ 
    font-family: helvetica;
    font-weight: 100;
    display: grid;
    grid-template-columns: 5em 1fr;     
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar view";
}



.content{
    grid-area: view;
    min-height: 100vh;
    padding: 30px 50px;
}